.spots-div img {
    width: 350px;
    height: 200px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px black;
    margin-bottom: 5px;
    margin-top: 10px;
}
.spots-div{
    position: relative;
}
.spots-div:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 30px;
    left: 170px;
    color: white;
    text-shadow: 2px 2px black;
}

.spot-location {
    font-weight: bold;
    color: rgb(33, 134, 222);
}

.spot-wrapper-div {
    display: flex;
    justify-content: space-between
}
.spot-info {
    display: flex;
    flex-direction: column;
}
.wrapper-div {
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-bottom: 50px;
}

.wrapper-div .spots-div {
    padding:0px 30px;
}

.spots-review-star {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.all-spots-h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


/* @media screen and (max-width: 1250px){
    .wrapper-div {
        grid-template-columns: 1fr 1fr;
    }
} */

@media screen and (max-width: 850px){
    .wrapper-div {
        grid-template-columns: 1fr;
    }
}
