.spot-detail-images {
    width: 500px;
}


.wrapper-info-reserve {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}

.reserve-button-div {
    border: 2px solid black;
    border-radius: 10px;

}

.reserve-button {

    padding: 10px 100px;
    background-color: cornflowerblue;
    color: white;
    box-shadow: 2px 2px 5px black;
    margin: 10px;
}

.price-div {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
}

.delete-review-in-spot {
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
}

.review-info-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 175px;
    font-size: larger;
}

.spot-reviews {
    display: flex;
    flex-direction: column-reverse;
}

.spot-review {
    border: 2px dashed black;
    border-radius: 10px;
    padding-left: 10px;
    margin: 10px 0px;
}


.spot-images-styling {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
}

.preview-image-div img{
    max-width: 100%;
}

.spot-images-div {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4px;
    margin-left: 4px;
}
.spot-images-div img {
    max-width: 100%;
}

.spot-name-h1 {
    color: rgb(83, 84, 84);
    text-shadow: 4px 4px 4px rgb(252, 251, 251);
}
