.hidden {
    display: none;
}

.logo-div {
    display: flex;
    align-items: center;
}
.main-logo {
    width: 150px;

}
.airdnd-span {
    font-size: 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: rgb(73, 126, 233);
}

.home-ul {
    display: flex;
    justify-content: space-between;


}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.profile-button {
    display: flex;
}

.profile-button-div {
    border: 1px solid red;
}

li {
    display: flex;
    flex-direction: column;
}
